
.box {
background-color: blue;
padding: 10px;
}

p {
color: yellow;
margin: 0;
padding: 0;
}

#outer-box {
border: 10px solid #79155B;
padding: 10px;
}
.white-text {
color: white;
}
.inner-box {

background-color: red;
}